/* Reseteo del CSS base */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:link, a:visited, a:active {
    text-decoration:none;
}

/* Fin del reseteo */

/* Aquí estoy diciendo que dentro de todo el documento html, el scroll va a ser suave */
html {
    scroll-behavior: smooth;
}

/* En el body pongo el color del fondo de todo el body, y eligo las familias tipográficas que se van a usar en el documento */
body {
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Aquí le doy forma a la franja que está al comienzo de la página, diciendo que ocupa todo el ancho, 20 píxeles de alto, y el color */
.top {
    width: 100%;
    height: 20px;
    background-color: rgb(24, 24, 24);
}

/* En el header le digo que el tamaño de la caja no sea alterable por el padding, le pongo un padding general de 1.2 (este se va a aplicar solo arriba y a abajo, porque justo debajo especifico los paddings laterales). */
header {
    box-sizing: border-box;
    padding: 1.2em;
    padding-left: 12em;
    padding-right: 12em;
    display: grid;
    width: 100%;
    background-color: white;
}
  
/* A el div que contiene el logo le doy una posición absoluta para que no se vea afectado por los elementos que tenga al rededor, además de un alineamiento vertical para que se coloque en el medio */
.logo {
    text-align: left;
    font-size: 2.2em;
    vertical-align: middle;
    position: absolute;
    top: 1.2em;
}

.logo a {
    color: rgb(19, 19, 19);
}

/* A la etiqueta de navegación le digo que flote para que se ponga al lado de el logo */
nav {
    float: left;
}
  
/* A la lista le digo que se justifique a la derecha */
nav ul {
    text-align: right;
}
  
/* A los elementos de la lista les digo que se coloquen en línea y les doy tamaño y márgenes superior e inferior */
nav ul li {
    display: inline-block;
    font-size: 1.1em;
    margin-top: 1.4em;
    margin-bottom: 1.8em;
}

/* A los links que están contenidos en los elementos de la lista, les doy color, le cambio el peso de la tipografía y márgenes a la izquierda para que se separen entre sí. Además, le pongo una transición de 0.2 segundos para el efecto hover de abajo */
nav ul li a {
    color: rgb(19, 19, 19);
    font-weight: bold;
    transition: 0.2s;
    margin-left: 4em;
}

/* Aquí le digo a los links que cuando el ratón esté encima de ellos, cambie el color de la tipografía */
nav ul li a:hover {
    color: #006fb6;
}

/* A este contenedor le doy paddings, le cambio el color de fondo y además le digo que los ejementos que estén contenidos aquí sean flexibles y que tengan un espacio entre ellos, es decir, el primer elemento y el último estarán pegados al borde, pero habrá espacios entre ellos */
.submenu {
    padding-left: 12em;
    padding-right: 12em;
    background-color: whitesmoke;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
    display: flex;
    justify-content: space-between;
}

/* A la portada le doy una posición relativa para luego colocar el titular encima */
.portada {
    position: relative;
    display: inline-block;
}

/* Al titular le doy una posición absoluta para que pueda estar encima de la imagen, también le doy una pequeña sombra al texto para una mejor visibilidad */
.titular {
    position: absolute;
    top: 1.8em;
    left: 2.6em;
    color: whitesmoke;
    font-size: 4.4em;
    font-weight: bold;
    width: 50%;
    text-align: left;
    text-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.032), -5px -5px 30px 7px rgba(0, 0, 0, 0.032);;
}

/* Al botón también le doy una posición absoluta, y le digo que tenga las esquinas redondeadas con border-radius, le quité el borde que tiene por defecto los botones y también le di tiempo de transición */
.portada button {
    position: absolute;
    top: 16em;
    left: 10em;
    font-size: 1.2em;
    justify-content: left;
    margin-top: 4em;
    border-radius: 10px;
    background-color: #815649;
    border: none;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    color: whitesmoke;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}

/* Le digo al botón que se escale un poco */
.portada button:hover {
    transform: scale(1.1, 1.1);
}

/* Aquí le cambio el color al link ya visitado para que siga siendo blanco */
.portada button a:visited {
    color: whitesmoke;
}


#cosmere {
    width: 100%;
    padding-top: 6em;
    padding-bottom: 6em;
    background-color: white;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    color: #006fb6;
    margin-bottom: 2em;
}

/* A la línea divisoria le pongo un margen automático para que se ponga justo en el centro */
.linea {
    background-color: #006fb6;
    width: 6em;
    height: 8px;
    margin: 0 auto;
    margin-bottom: 5em;
}

p {
    padding-top: 1.4em;
    padding-left: 12em;
    padding-right: 12em;
    font-size: 1.4em;
    color: rgb(56, 56, 56);
    line-height: 2em;
}

#obras {
    padding-top: 8em;
    padding-left: 12em;
    padding-right: 12em;
    padding-bottom: 4em;
}

/* Creé una clase llamaba mb para añadir un margen inferior a los elementos que necesitara */
.mb {
    margin-bottom: 4em;
}

/* Al contenedor de los libros le dije que los elementos dentro del mismo fueran flexibles y que tuvieran dejaran espacio al rededor de ellos, al contrario que space-between, en space-around el primer y último elemento no están pegados al borde*/
.lista-libros {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Los divs y las imágenes que lo contienen, tienen esquinas redondeadas solo en la parte superior y una sombra exterior (también tienen una transición para escalarlas luego) */
.libro {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.032), -5px -5px 30px 7px rgba(0, 0, 0, 0.032);
    cursor: pointer;
    transition: 0.4s;
}

.imagen-libro {
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Aquí reduzco el tamaño de los divs, y le aumento la sombra exterior, para dar un efecto de que se acercan a una pared o al suelo */
.libro:hover {
    transform: scale(0.96, 0.96);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.080), 
      -5px -5px 30px 15px rgba(0,0,0,0.080);
}


#sanderson {
    width: 100%;
    background-color: white;
    display: inline-block;
}

/* A la imagen de Brandon Sanderson, le estoy diciendo que el tamaño máximo al que puede llegar es al 30% del ancho de la pantalla */
#sanderson img {
    max-width: 30%;
    margin-right: 4em;
    float: left;
    padding-top: 8em;
    padding-left: 12em;
    margin-bottom: 4em;
}

#sanderson h1 {
    margin-top: 2em;
    font-size: 4em;
    font-weight: bold;
    color: #006fb6;
}

.divisor {
    width: 6em;
    height: 8px;
    background-color: #006fb6;
    margin-top: 4em;
    float: left;
}

#sanderson p {
    margin-top: 6em;
    margin-bottom: 8em;
}

#otras {
    padding-top: 8em;
    padding-left: 12em;
    padding-right: 12em;
    padding-bottom: 8em;
}

.lista-otros {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-between;
}

.otro-libro {
    width: 45%;
    cursor: pointer;
}

.otro-libro img {
    max-width: 18%;
    border-radius: 8px;
    float: left;
    margin-right: 3em;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.032), -5px -5px 30px 7px rgba(0, 0, 0, 0.032);
}

h3 {
    font-size: 1.4em;
    font-weight: bold;
    padding-top: 0.1em;
}

/* Cuando el cursor esté encima del div el título cambiará de color */
.otro-libro:hover {
    color: #006fb6;
}

.otro-p {
    padding-left: 0;
    padding-top: 1em;
    padding-right: 0;
    font-size: 1em;
    line-height: 1.4em;
}

footer {
    width: 100%;
    background-color: rgb(24, 24, 24);
    text-align: center;
}

footer h4 {
    font-size: 2em;
    color: whitesmoke;
    font-weight: bold;
    padding-top: 2em;
    padding-bottom: 1em;
}

.linea2 {
    background-color: whitesmoke;
    width: 4em;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 1.4em;
}


footer ul li {
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    padding: 1.2em;
}

footer ul li a {
    color: whitesmoke;
    transition: 0.2s;
}

footer ul li a:hover {
    color: #006fb6;
}

footer p {
    color: rgb(124, 124, 124);
    padding-left: 20em;
    padding-right: 20em;
    font-size: 1em;
    line-height: 1.2em;
    padding-bottom: 1em;
}

.creditos {
    color: rgb(124, 124, 124);
    padding-left: 20em;
    padding-right: 20em;
    font-size: 1em;
    line-height: 1.2em;
    padding-bottom: 4em;
    transition: 0.2s;
    cursor: pointer;
}

.creditos:hover {
    color: #006fb6;
    padding-left: 20em;
    padding-right: 20em;
    font-size: 1em;
    line-height: 1.2em;
}


/* Aquí adapto el diseño para las pantallas que son menores a la resoluciones indicadas abajo, haciendo que las imágenes de la sección #obras se hagan más pequeñas. También, en la sección #otras-obras, las imágenes dejan de estar alineadas a la izquierda para ponerse encima del texto, el cual de alinea al centro. */

@media (max-width:1720px) {
    .imagen-libro {
        object-fit: cover;
        width: 350px;
        height: 350px;
    }
}

@media (max-width:1500px) {

    .titular {
        top: 1.2em;
        left: 3em;
        font-size: 4em;
    }
    

    .portada button {
        top: 12em;
        left: 10em;
    }

    p {
        padding-left: 8em;
        padding-right: 8em;
    }

    .imagen-libro {
        object-fit: cover;
        width: 300px;
        height: 300px;
    }

    #otras {
        padding-left: 8em;
        padding-right: 8em;
    }

    .otro-libro img {
        float: none;
        margin: 0;
        margin-bottom: 1.2em;
    }

    .otro-libro {
        align-content: center;
        text-align: center;
    }
}